body {
    background: -moz-linear-gradient(top left, #ff8f32, #ff2100);
    background: -webkit-radial-gradient(top left, #ff8f32, #ff2100);
    background: -o-radial-gradient(top left, #ff8f32, #ff2100);
    background: -ms-radial-gradient(top left, #ff8f32, #ff2100);
    /*background-color: #1E90FF;*/
    /*
#FF8F32, 
#FF2100*/
    font-family: "Courier New", Courier, monospace;
}
h1 {
    text-align: center;
}
img {
    /*max-width: 400px;*/ 
    height: auto;
    width: 100%;
    /* еще больше контроля с max-width */
}
ol {
    margin-left: 20px;
}
li {
    font-size: x-large;
}